* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section, h1 {
    margin: 20px;
}

/*-----VERKOOP OVERZICHT-----*/

.stats {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.stats-blok {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 400px;
    height: 300px;
}
.stats-blok p {
    font-size: 20px;
}

.sold-tv {
    background-color: lightgreen;
    border: 2px solid green;

}

.sold-tv p {
    color: green;
}

.purchased-tv {
    background-color: lightblue;
    border: 2px solid blue;
}

.purchased-tv p {
    color: blue;
}

.for-sale-tv {
    background-color: lightpink;
    border: 2px solid red;
}

.for-sale-tv p {
    color: red;
}
/*-----Algemeen-----*/
ul{
    display: flex;
    flex-direction: row;
}

li  {
    list-style-type: none;
}

h2, h3{
    font-size: 30px;
}

.section-title{
    padding: 25px 0 20px 0;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
}

/*-----BEST VERKOCHTE TV-----*/
.best-sold-block {
    background-color: lightgray;
    border: 2px dashed black;
    border-radius: 3px;

}

.icon {
    width: 10px;
    margin-right: 5px;
}

/*-----ALLE TVs-----*/
.tv-block {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 400px;
}

.tv-info {
    flex-basis: 550px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.tv-info ul {
    justify-content: space-between;
}
.tv-info li {
    padding-right: 10px;
    margin-right: 10px;
}


.tv-img{
    flex-basis: 500px;
    margin: 10px 30px;
}
.tv-img img{
   width: 100%
}

/*-----FOOTER-----*/
footer{
    height: 75px;
    background-color: black;
    color: white;
}
footer ul {
    justify-content: space-around;
    align-items: center;
    height: 75px;
}